// Define your Site Variables Here

//$max-width: 800px;
$page-max-width: 920px;

$color-black: #000;
$color-white: #fff;
$color-gray: #808080;
$color-lighgray: #d3d3d3;
$color-yellow: #ffcd28;
$color-brown: #ffa500;
$color-darkyellow: shade($color-yellow, 20%);
$color-darkbrown: shade($color-brown, 20%);


$color-default: #000020;
$color-background: #f6f8ff;
$color-keyword: #200080;
$color-punc: #308080;
$color-wstring: #595979;
$color-string: #1060b6;
$color-link: #7144c4;
$color-brack: #406080;


